.tengah {
    display: flex;
    justify-content: center;
}

.navbar-pink {
    background-color: pink;
}

.navbar {
    color: white;
    background-color: rgb(221, 81, 104);
    font-size: 40px;
}


.card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}


.card-titlee {
    display: flex;
    justify-content: center;
}

.card.Januari {
    background-color: rgb(240, 110, 132);
    text-align: center;
    transition: transform 1.2s, box-shadow 1.2s;
}

.card.Januari:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 15px 25px rgba(0,0,0,0.4);
    filter: brightness(1.1); 
    transition: transform 1.2s ease, box-shadow 1.2s ease, filter 1.2s ease;
}


.card-img-top {
    border-style:groove;
    border-width: 5px;
    color:rgb(252, 155, 171);
}

.card-img-top.top {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
}

.card-title.JudulJanuari {
    color: white;
}

.badan {
    position: relative;
    z-index: 1;
}

.badan::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55); 
    z-index: -1;
}


.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}


.teks-overlay {
    background-color: pink;
    position: absolute;
    font-family:fantasy;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 7rem;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
    
}


.footer {
    position: relative;
    z-index: 2;
    background-color: rgb(221, 81, 104);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
