.navbar {
    background: linear-gradient(to right, #fd6f97, #FF8FAB);
    height: 10vh;
    font-size: 30px;
}

.home {
    text-decoration: none;
    color: white;
    font-family: fantasy;
}

.home:hover {
    background: #FFE4EC;
    border-radius: 10px;
    color:pink;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;

    background-image: url("ChatGPT\ Image\ Dec\ 21\,\ 2025\,\ 12_43_35\ PM.png");
    background-size: cover;       /* full layar */
    background-position: center;  /* tengah */
    background-repeat: no-repeat; /* ga ngulang */
    background-attachment: fixed; /* biar aesthetic pas scroll */
}

.foto1 {
    width: 30rem;
    height: 40rem;
    border-radius: 20px;
    margin-left: 80px;
}

.overlay1 {
    color: #2F2F4F;
    margin-left: 100px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}


.foto2 {
    width: 30rem;
    height: 40rem;
    border-radius: 20px;
}

